/*
*     Top navigation bar styling.
*     Has hover animation feature.
*     Keeps header navigation menu fixed.
*/
header {
  background: #6ac468;
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index:1000;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.navbar {
  text-align: center;
  position: relative;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  display: inline-block;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
}

.navbar a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

.navbar a:hover {
  color: #000;
}

.navbar a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
  margin-left: -20px;
}

/*
*     Body elements styling
*/

body {
  margin: 0;
  background: #222;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

p {
  line-height: 35px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.title {
  text-align: center;
  padding: 50px;
}

.name {
  font-size: 50px;
  font-weight: bold;
}

.sub-title {
  text-align: center;
}

.row {
  margin-right: 30px;
  margin-left: 30px;
}

.about-block {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.pic-block {
  display: inline-block;
  width: 33%;
  text-align: center;
  vertical-align: middle;
}

.text {
  word-break: normal;
  padding: 20px;
}

.spacer {
  padding: 10%;
}

.avatar {
  display: inline-block;
  border-radius: 300px;
  box-sizing: border-box;
  background-color: #DDD;
  border: 7px solid #6ac468;
}

.block {
   max-width: 100%;
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 50px;
   padding-bottom: 50px;
}

.dark-block {
  margin: 0 auto;
  width: 100%;
}

.light-block {
  background: #555;
  margin: 0 auto;
  width: 100%;
}

/*
*     Projects listing styling
*/
.project-item {
  position: relative;
  width: 300px;
  height: 300px;
  padding-right: 40px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: inherit;
  width: inherit;
  border-radius: 5%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
}

.overlay h4 {
  color: #000;
  font-size: 40px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.project-item:hover .overlay {
  opacity: 0.6;
}

.work-thumbnail {
  display: inline;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.work-list {
  list-style: none;
}

.work-list div {
  display: inline-block;
  vertical-align: top;
}

.description {
  width: 75%;
  word-break: normal;
}

.work-list li {
  text-decoration: none;
  padding: 25px;
}

.skill-block div {
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
  padding-right: 30px;
}

.skill-block h2 {
  margin-left: 5%;
}

.skill-list {
  width: 38%;
  margin-left: 60px;
  margin-right: 60px;
  list-style: none;
}

.skill-list li {
  margin: 20px auto;
}

.bar {
  background: #111111;
  display: block;
  height: 8px;
  border: 1px solid #000000;
  overflow: hidden;
  box-shadow: 0 0 5px #6ac468;
}

.bar span {
  height: 8px;
  float: left;
  background: #6ac468;
}

.contacts {
}

.contacts ul {
  list-style: none;
  text-align: left;
  margin-left: 30%;
}

.contacts ul li {
  padding: 25px;
}

.contacts div {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5%;
}

.contacts ul li a {
  width: 90px;
  height: 90px;
  text-align: center;
  display: inline-block;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #6ac468;
  color: #6ac468;
  background: #fff;
  overflow: hidden;
  position: relative;
}

.contacts ul li a i {
    line-height: 90px;
    font-size: 30px;
    transition: 0.2s linear;
}

.contacts ul li a:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.Python {
  width: 90%;
}

.C {
  width: 90%;
}

.Cplus {
  width: 50%;
}

.GLSL {
  width: 80%;
}

.Java {
  width: 70%;
}

.HTML {
  width: 70%;
}

.CSS {
  width: 50%;
}

.PHP {
  width: 30%;
}

.Git {
  width: 80%;
}

.Atom {
  width: 80%;
}

.Sublime {
  width: 90%;
}

.Zilla {
  width: 70%;
}

.Illustrator {
  width: 30%;
}

.Photoshop {
  width: 30%;
}

.Clip {
  width: 60%;
}

.Medibang {
  width: 90%;
}

.Linux {
  width: 100%;
}

.Windows {
  width: 80%;
}

.Mac {
  width: 20%;
}

.Android {
  width: 60%;
}

.Pycharm {
  width: 90%;
}

.Eclipse {
  width: 80%;
}

.English {
  width: 100%;
}

.Spanish {
  width: 100%;
}

.Japanese {
  width: 20%;
}

.Teamwork {
  width: 80%;
}

.Speaking {
  width: 60%;
}

.Writing {
  width: 80%;
}

.Halo {
  width: 100%;
}
