/*
*     Top navigation bar styling.
*     Has hover animation feature.
*     Keeps header navigation menu fixed.
*/
header {
  background: #6ac468;
  font-weight: bold;
  position: fixed;
  width: 100%;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.navbar {
  text-align: center;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  display: inline-block;
  padding: 20px;
  margin-left: 80px;
  position: relative;
}

.navbar a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

.navbar a:hover {
  color: #000;
}

.navbar a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
  margin-left: -20px;
}

/*
*     Body elements styling
*/

body {
  margin: 0;
  background: #222;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

p {
  line-height: 35px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.welcome {
  width: 100%;
  background: #555;
  padding: 50px;
}

.title {
  text-align: center;
}

.hline-bottom {
  width: 400px;
  height: 0;
  border: 1px solid #ffffff;
  margin: 10px;
  display:inline-block;
}

.name {
  font-size: 50px;
  font-weight: bold;
}

.sub-title {
  text-align: center;
}

.row {
  margin-right: 30px;
  margin-left: 30px;
}

.about {
  padding-top: 50px;
  width: 100%;
}

.profile {
  max-width: 70%;
  margin-left: 15%;
}

.about-block {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.pic-block {
  display: inline-block;
  width: 33%;
  text-align: center;
  vertical-align: middle;
}

.text {
  word-break: normal;
  padding: 20px;
}

.spacer {
  padding: 10%;
}

.avatar {
  display: inline-block;
  border-radius: 300px;
  box-sizing: border-box;
  background-color: #DDD;
  border: 7px solid #6ac468;
}

.work-thumbnail {
  display: inline;
  width: 300px;
  height: 300px;
}

.work {
  background: #555;
  width: 100%;
  padding-top: 25px;
}

.work-list {
  list-style: none;
}

.work-list div {
  display: inline-block;
  vertical-align: top;
  padding: 25px;
}

.work-list li {
  text-decoration: none;
}

.block {
    padding: 25px;
    width: 70%;
    margin-left: 15%;
}

.contact {
  margin: 0 auto;
  width: 100%;
  padding-top: 25px;
  text-align: center;
}
