/*
  Sets up base colors and fonts
*/
.main {
  font-size: 20px;
  padding: 25px;
  background: #333;
  color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
}

/*
  CSS regarding navigation top-bar
*/
.nav-theme {
  background-color: #222 !important;
  height: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.nav-list {
  margin-right: 3vw;
  text-align: right;
}

.text-theme {
  background-color: #222;
}

.text-theme li {
  margin: 0 15px;
}

.text-theme li a {
  color: #ddd !important;
  transition: color 0.2s 0.05s ease-out;
}

.text-theme li a:hover {
  color: #6ac468 !important;
}

/*
  Regarding the opening splash screen
*/

.splash {
  height: 100vh;
}

.splash-set {
  margin: 20vh 0;
}

.main-title {
  font-weight: bolder;
}

.main-title h1 {
  font-size: clamp(50px, 8vw, 90px);
  font-weight: 800;
  color: #6ac468;
}

.main-title h2 {
  font-size: clamp(30px, 8vw, 50px);
  font-weight: 600;
  color: #888;
}

.main-title h5 {
  font-size: clamp(14px, 8vw, 20px);
  font-weight: 200;
  color: #ccc;
}

.main-title button {
  margin: 3% 0;
}

.custom-btn {
  color: #6ac468;
  border-color: #6ac468;
}

.custom-btn:hover {
  color: #fff;
  background-color: #6ac468;
}

/*

*/

.profile {
  text-align: center;
  padding-bottom: 50px;
}

.title {
  text-align: center;
  margin: 75px auto;
}

.profile hr {
  background-color: #ddd;
}

.avatar {
  vertical-align: middle;
  border-radius: 50%;
  width: 325px;
  height: 325px;
  box-sizing: border-box;
  border: 7px solid #6ac468;
}

.work-thumbnail {
  height: 300px;
  width: 300px;
}

.links {
}